@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-image: linear-gradient(to right, blue, lightblue, white);
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: darkblue;
  }
  
  .imageContainer {
    width: 75%;
    border-width: 2px;
    border-color: lightblue;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .text {
    margin-bottom: 1.5rem;
    text-align: center;
    color: gray;
    width: 75%;
  }

  .root {
    min-height: 100vh;
    background-image: radial-gradient(blue, lightblue, white);
    color: gray;
  }
  
  